<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: "VT323", monospace;
            background-color: #414141;
            color: #ffffff;
            text-align: center;
        }

        h1 {
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
        }
    </style>
</head>
<body>
<h1>You entered incorrect data! Please retry your action again!</h1>
</body>
</html>
